<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Text Analysis</title>

  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <script data-ad-client="ca-pub-5835846113111453" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Text analysis</a>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container persoContainer">
    <form>
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <div class="form-group">
                <label for="PositifWords">First category</label>
                <textarea class="form-control" aria-label="Les mots positifs" id="PositifWords" rows="4"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <div class="form-group">
                <label for="PositifWords">Second category</label>
                <textarea class="form-control" aria-label="Les mots négatifs" id="NegatifWords" rows="4"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <div class="form-group">
                <label for="PositifWords">Third category</label>
                <textarea class="form-control" aria-label="Les mots incertains" id="YesNoWords" rows="4"></textarea>
              </div>
            </div>
          </div>
        </div> <!-- FIN COL -->
      </div> <!-- FIN ROW -->
      <div class="row">
        <div class="col-8" style="display: none">
          <p class="text-center">Tu peux copier coller ton text dans la zone ou <strong>À VENIR : </strong> upload un PDF ici</p>
        </div>
        <div class="col-4" style="display: none">
          <input id="uploadFile" type="file" name="upload" accept="application/pdf" />
        </div>
        <div class="col-12">
          <div class="card shadow">
            <div class="card-body">
              <div class="form-group">
                <label for="InputText">Your text</label>
                <textarea class="form-control" rows="10" id="InputText" required></textarea>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- FIN ROW -->
      <div class="row">
        <button class="offset-4 col-4 btn btn-primary" type="button" name="button" id="FindButton">Rechercher</button>
      </div> <!-- FIN ROW -->
    </form>
    <!-- RESULT -->
    <div class="row">
      <div class="col text-center" id="resultPosNeg"></div>
    </div>
    <div class="row">
      <div class="col text-center" id="YesNoRes"></div>
    </div>
    <div class="row">
      <div class="col text-center" id="syllable"></div>
    </div>
    <!-- RESULT -->

    <div class="media">
      <img src="/images/profil.jpg" class="align-self-center mr-3" alt="..." id="ImgProfil">
      <div class="media-body">
        <h5 class="mt-0">Developer</h5>
        <p>Hi, my name is Marin Mouscadet and I've developed this website in order to help people with their text analysis!</p>
        <p class="mb-0">Do not hesitate to <a href="mailto:tryanium@gmail.com">contact</a> me if you have any suggestion or a problem.</p>
      </div>
    </div>
  </div>



  <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/find.js"></script>

</body>

</html>
